{% extends 'blogs/base.html' %}

{% block content %}
    {% if blogs %}
        <section>
            <h2>Blogs</h2>
            <ul>
                {% for blog in blogs %}
                    <li>
                        <strong>Name:</strong> {{ blog.name }}<br>
                        <strong>Author:</strong> {{ blog.author }}<br>
                        <strong>URL:</strong> <a href="{{ blog.url }}">{{ blog.url }}</a><br>
                        <a href="{% url 'detail' blog_id=blog.id %}">Show details</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% else %}
        <p>No blogs available.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <section>
            <p><a href="{% url 'create_blog' %}">Create a New Blog</a></p>
        </section>
    {% endif %}
{% endblock %}
